{% extends 'menu.html' %}
{% block head %}
{% load static %}
<title>Расписание</title>
<style>
#imgo {
	float:left;
    width: 50px;
    height: 50px;
    display: block;
}

</style>
{% endblock %}
 
{% block main %}
  <h1>Распсиание сеансов</h1>
  {% if not listses %}
	  <b>Сеансов нету</b>
	  {% else %}
		{% for ses in listses %}
			{% with ses|first as first_doc %}
				<a href="/listfilms/{{ first_doc.first.fillname.namefilm }}"><b>{{first_doc.fillname.namefilm}}</b></a>
				<img id="imgo" src="{{ first_doc.fillname.imgurl}}"  alt="Image">
				<br><br>
			{% endwith %}
			{% for one in ses %}
					<a id ="tekses" href="/listsession/{{ one.numberhall.idhall }}/{{ one.idsession}}"><b>{{one.datasession }}</b></a>
					<br>
			{% endfor %}
			<br><br><br><br><br><br><br><br><br><br><br><br>
		{% endfor %}
	{% endif %}
{% endblock %}